* {
    box-sizing: border-box;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #D8B4E2;
    text-align: center;
}
button,
input, #rainbow{

    width:fit-content;
    height: 50px;
    border-radius: 10px;
    background-color: #D8B4E2;
    border: none;
    color: #55286F;
}
input{
    width: 25px;
}
#color-picker-button{
    height:25px;
    width: 25px;
    border-radius:50%;
    background-color:black;
    border:2px solid #D8B4E2;
    cursor:pointer;
    display:inline-block;
}

#rainbow + label, #darken + label {
    display: inline-block;
    height: 50px;
    padding: 10px 4px 4px 4px;
    color: #55286F;
    background-color: #D8B4E2;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}
#darken + label{
    padding-top: 16px;
}
#rainbow, #darken{
    display: none;
}

#new-grid:hover, #erase-grid:hover, #rainbow:checked + label, #darken:checked + label,
input:hover {
    color: #D8B4E2;
    background-color: #210b2c;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#top {
    width: 365px;
    margin: 25px auto;
    background-color: #55286F;
    padding: 10px;
    color: #D8B4E2;
    border-radius: 10px;
}

#grid-container {
    margin: 0 auto;
    background-color: #55286F;
    min-width: 365px;
    min-height: 365px;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    border: 1px dotted lightgray;
    margin: 0;
}

.row {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}